.img {
    align-content: center;
}

.card {
    margin-top: 15px;
}

.card-home {
    width: 150px;
}

.card-title {
    font-size: 18px;
    font-family: 'DejaVu Sans Mono', monospace;
}

.col-sm {
    font-size: 13px;
}

.btn {
    margin: 10px;
    font-family: 'DejaVu Sans Mono', monospace;
}
