.form-recipe {
    margin: 3% 25% 10%;
}

.form-select {
    font-family: 'DejaVu Sans Mono', monospace;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'DejaVu Sans Mono', monospace;
}

label {
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 1;
    font-family: 'DejaVu Sans Mono', monospace;
}

button {
    font-family: 'DejaVu Sans Mono', monospace;
    padding-left: 10px;
}

button[type="button"],button[type="submit"],
input[type="button"], input[type="submit"]  {
    background: #343A40;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    max-width: max-content;
    font-family: 'DejaVu Sans Mono', monospace;
}

.btn-ingredients-list {
    background: lightgrey;
    color: #343A40;
    margin-right: 20px;
    border-radius: 4px;
    font-family: monospace;
    border: grey;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'DejaVu Sans Mono', monospace;
}

p {
    font-size: 14px;
    font-weight: 200;
    color: red;
    font-family: monospace;
}